@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

@layer components {
    .add-task {
        @apply border border-blue-800 hover:border-blue-900 bg-gradient-to-br from-blue-500 to-purple-600 hover:from-blue-600 hover:to-purple-700 text-white font-medium
    }

    .input-task {
        @apply border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent bg-white transition-all duration-300
    }

    .card {
        @apply bg-white rounded-xl shadow-sm border border-gray-200 transition-all duration-200;
    }

    .delete-task {
        @apply bg-red-500 hover:bg-red-600 text-white font-medium rounded-lg transition-all duration-200 shadow-sm hover:shadow-md active:scale-95
    }
}