@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

@layer components {
    .add-task{
        @apply border border-blue-800 hover:border-blue-900 bg-gradient-to-bl from-blue-600 to-purple-600 hover:from-blue-700 hover:to-purple-700 text-white font-medium
    }

    .input-task {
        @apply border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent bg-white transition-all duration-300
    }
}